@charset "utf-8";

#header-space, #header-outer, #footer-outer {
	background-color: #ffffff;
}
#calendar {
	margin: 0 0 50px 0;
	width: 680px;
	text-align: center;
}

#calendar .k-content .k-state-hover,#calendar .k-content .k-state-focused
	{
	font-size: 18px;
	font-weight: bold;
}

#calendar .k-state-selected,#calendar .k-state-selected.k-state-focused
	{
	font-size: 24px;
	font-weight: bold;
}

#calendar .k-content .k-link {
	padding: 0;
	min-height: 40px;
	line-height: 40px;
}

#calendar th {
	padding-top: 20px;
	color: #8cbabf;
}

#calendar td.k-other-month .k-link {
	color: #8cbabf;
}

#calendar th,#calendar td {
	text-align: center;
}

/* Template Days */
.exhibition,.party,.cocktail {
	width: 40px;
	height: 40px;
	margin: auto;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 50%;
	line-height: 40px;
}

.party {
	background-color: #70c114;
}

.demo-section {
	margin: 0 0 0 50px;
}

.demo-section2 {
	padding: 10px 0 0 0;
	width: 680px;
}


#listView {
	padding: 10px;
	margin-bottom: -1px;
	min-width: 555px;
	min-height: 510px;
}

.product {
	float: left;
	position: relative;
	width: 111px;
	height: 170px;
	margin: 0;
	padding: 10px;
}

.product img {
	width: 110px;
	height: 110px;
}

.product h3 {
	margin: 0;
	padding: 3px 5px 0 0;
	max-width: 96px;
	overflow: hidden;
	line-height: 1.1em;
	font-size: .9em;
	font-weight: normal;
	text-transform: uppercase;
	color: #999;
}

.product p {
	visibility: hidden;
}

.product:hover p {
	visibility: visible;
	position: absolute;
	width: 110px;
	height: 110px;
	top: 0;
	margin: 10px 0 0 0;
	padding: 0;
	line-height: 110px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.75);
	transition: background .2s linear, color .2s linear;
	-moz-transition: background .2s linear, color .2s linear;
	-webkit-transition: background .2s linear, color .2s linear;
	-o-transition: background .2s linear, color .2s linear;
}

.k-listview:after,.product dl:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}